#filtres {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;

    display: col;
    justify-content: center;
    align-items: center;
}
.ligne-filtres{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#prod {
    width: 20%;
    /* background-color: blueviolet; */
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}
.btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    margin: 2px 20px;
    cursor: pointer;
}

/* Style propres *************************************/

header {
    /* background-image: url("../../images/top_bg.jpg"); */
    /* background: center/cover url(bestiaire_banniere.png) no-repeat; */

    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
}
.box-grey, 
.box-blue {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.777);
}
.box-blue {
    background-color: rgba(100, 100, 200, 0.777);
}
h1 {
  padding-left: 50px;
  padding-right: 50px;
}

